*{
    border: 0;
}
/* banner section  style*/
.header-section{
    margin: 150px 120px;
}


/* offer section style*/
.offer-section {
    margin: 0 400px;
    max-width: 75%;

   
}

.text-title{
    text-align: center;
}
.text-title> h1{
   
  
    font-size:xx-large;
    color: #FF0000
   
    
   
}
.text-title h2{
   color: #070211;
}
.text-title > h3{
    color: #FF0000
}

/* welcome section style*/

.welcome-section{
    background-image: url(../images/Vectorrr.png);

    
    
    height: 800px;
    background-repeat: no-repeat;
    margin-top: 150px;
}

.img{
    align-items: center;
}


/* best gift section title*/
.best-gift-title{
    margin: 15px  130px;
}
.title{
    color: #FF0000;
    ;

}
.title-sub{
    color:  rgb(7, 2, 17);
}
.gift-description{
    color:rgba(7, 2, 17, 0.6)
}
/* card item*/
.first-3-card >div {
    margin: 0 120px;
    height: 424px;
    width: 550px;
    display:flex ;
    gap: 15px;
   
 
    
}
.second-3-card > div{

    margin: 15px 120px;
    height: 424px;
    width: 550px;
    display:flex ;
    gap: 15px;
   
}


/*subscribe section*/
.subscribe-section{
    background-color: rgba(255, 0, 0, 0.05);
    margin: 120px 150px;
    height: 500px;
    border: rebeccapurple solid 5px;
    width: 1200px;
    
    
}
.subscribe-section .img-message{
    border: #FF0000 solid 5px;
    padding: 20px 520px;
}
.subscribe-section > h1 , p{
    text-align: center;
}
.subscribe-section >input , button{
    border: yellow 5px solid; 
    padding:15px  22px;
 
}
.subscribe-section .input-item{
    border:green 2px solid;
   margin: 0 420px;
    display: flex;
    justify-content: space-between;

   
}
.subscribe-section .input-item >button{
  border-radius: 5px;
  background: #FF0000;

}
.subscribe-section .input-item > input{
width: 250px;
border: 0;
}

